p{
    color: white;
    text-align: justify;
    background-color: black;
    padding: 10px;
}
h2{
    color:green;
    text-align: center;
}
.button{
    display:block;
    background-color: yellow;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    color: black;
}
.button:hover{
    background-color: orangered;
    color:white;
}